:root {
  --sl--bs-hue-yellow: 51;

  --sl-obs-highlight: hsl(var(--sl--bs-hue-yellow), 71%, 56%);
}

:root[data-theme='light'] {
  --sl-obs-highlight: hsl(var(--sl--bs-hue-yellow), 80%, 56%);
}

.sl-obs-highlight {
  background-color: var(--sl-obs-highlight);
}

.sl-markdown-content .sl-obs-embed-audio {
  width: 100%;
}

.sl-markdown-content .sl-obs-embed-pdf {
  border: none;
  height: 600px;
  width: 100%;
}
