.sl-markdown-content :not(.sl-obs-section) + :is(.sl-obs-section):not(:where(.not-content *)) {
  margin-top: 1.5em;
}

.sl-markdown-content .sl-obs-section {
  --sl-obs-heading-link-spacing: 0.25em;

  line-height: var(--sl-line-height-headings);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-1 {
  font-size: var(--sl-text-h1);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-2 {
  font-size: var(--sl-text-h2);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-3 {
  font-size: var(--sl-text-h3);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-4 {
  font-size: var(--sl-text-h4);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-5 {
  font-size: var(--sl-text-h5);
}

.sl-markdown-content .sl-obs-section.sl-obs-section-level-6 {
  font-size: var(--sl-text-h6);
}

.sl-markdown-content .sl-obs-section > :first-child {
  display: inline;
  margin-inline-end: var(--sl-obs-heading-link-spacing);
}

.sl-markdown-content .sl-obs-heading-link {
  color: var(--sl-color-gray-3);
  text-decoration: none;
}

.sl-markdown-content .sl-obs-heading-link:is(:hover, :focus) {
  color: var(--sl-color-text-accent);
}

@media (hover: hover) {
  .sl-markdown-content .sl-obs-heading-link {
    opacity: 0;
  }
}

.sl-markdown-content .sl-obs-section:hover > .sl-obs-heading-link,
.sl-markdown-content .sl-obs-heading-link:focus {
  opacity: 1;
}

@media (min-width: 95em) {
  .sl-markdown-content .sl-obs-section {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--sl-obs-heading-link-spacing);
    justify-content: flex-end;
    margin-inline-start: calc(-1 * (1ch + var(--sl-obs-heading-link-spacing)));
  }
}
